div {
    width: 100%;
    /* height: px; */
    background-color: orange;
    display: relative;
}

h1 {
    margin: 5px 20px;
    width: 160px;
}

app-solver {
    position: absolute;
    right: 10px;

}

span {
    display: inline-flex;
}