.container {
    height: 96px;
    width: 68px;
    margin: 14px;
}

.empty {
    border: 2px black solid;
    display: inline-block;
    height: 96px;
    width: 68px;
}

.stack {
    display: block;
    position: relative;
}

.stack > app-card {
    position: absolute;
}
